.mode-selector-container {
	display: flex;
	align-items: center;
	position: relative;
	border-radius: var(--sz8);
	padding: var(--sz8);
	background-color: var(--primary800);
	box-shadow: inset var(--shadow2);
}

.mode-selector-item {
	display: flex;
	align-items: center;
	gap: var(--sz2);
	--fs: var(--fs16);
	font-size: var(--fs);
	padding: var(--sz8) var(--sz16);
	color: var(--secondary400);
	transition: color 0.2s;
	cursor: pointer;
	z-index: 1;
	&:hover {
		color: var(--secondary200);
	}
	&.selected {
		color: var(--secondary100);
	}
	& > svg {
		height: var(--fs);
		width: var(--fs);
	}
}

.mode-selector-indicator {
	position: absolute;
	width: var(--width);
	left: var(--left);
	border-radius: var(--sz8);
	height: calc(100% - 2 * var(--sz8));
	background-color: var(--primary600);
	box-shadow: var(--shadow1);
	transition: width 0.2s, left 0.2s;
}