.cpm-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--primary900);
}

.cpm-content {
	display: flex;
	flex-grow: 1;
	width: 100%;
	overflow: hidden;
}

.cpm-input-section {
	width: clamp(350px, 35%, 500px);
	flex-shrink: 0;
	background-color: var(--primary800);
	border-right: 2px solid var(--primary600);
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.cpm-canvas-section {
	flex-grow: 1;
	position: relative;
}