.inventories-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--primary900);
}

.mode-selector-section {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: var(--sz32);
}

.inventories-content-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	width: 100%;
	flex-grow: 1;
	padding: 0 var(--sz16) var(--sz16);
	gap: var(--sz16);
}

.inventories-content-card {
	display: flex;
	flex-direction: column;
	border-radius: var(--sz8);
	border: var(--sz2) solid var(--primary600);
	overflow: hidden;
	background-color: var(--primary800);
}