.page-card {
	all: unset;
	margin: 0;
	padding: var(--sz12) var(--sz16);
	box-sizing: border-box;
	aspect-ratio: 1;
	width: var(--sz128);
	background-color: var(--gray900);
	border: 1.5px solid var(--gray700);
	box-shadow: var(--shadow3);
	border-radius: var(--sz12);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: var(--sz8);
	overflow: hidden;
	cursor: pointer;
	transition-property: transform, box-shadow, background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.page-card:hover {
	transform: translateY(-3px);
	box-shadow: var(--shadow4);
}

.page-card__icon-container {
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	& > svg {
		height: var(--sz48);
		width: auto;
		stroke-width: 1.5;
		color: var(--primary200);
	}
}

.page-card__title {
	width: 100%;
	color: var(--gray100);
	font-size: var(--fs16);
	font-weight: normal;
	text-align: center;
}
